# Python
__pycache__/
*.py[cod]   # This catches .pyc, .pyo, and .pyd files
*.pyc
*$py.class
.pytest_cache/
.python-version
.venv/

# Environment and credentials
.env
.credentials/
**/hopsworks_credentials.env

# State files
state/

# IDE and System files
.idea/
.DS_Store

.last_run_id
